@import '@/assets/scss/styles';

.btn {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: $main-text-color;
  margin: 0;
  text-shadow: none;
  font-weight: 700;
  line-height: 143%;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s linear;

  &__green {
    background: #3f9c14;
    border-radius: 10px;

    border-color: $main-green-color;

    box-shadow: 0 20px 40px rgba(63, 156, 20, 0.3);

    &:hover {
      background: rgba(63, 156, 20, 0.5);
      border: 1px solid #3f9c14;
    }
  }

  &__greenOutline {
    box-shadow: 0px 20px 40px rgba(63, 156, 20, 0.3);
    border-color: $main-green-color;
    box-shadow: 0 0 40px 40px $main-green-color inset,
      0 0 0 0 var $main-green-color;

    &:hover {
      box-shadow: 0 0 10px 0 $main-green-color inset,
        0 0 10px 4px var $main-green-color;
    }
  }

  &__dark {
    background-color: #242424;
    border: 1px solid #454545;
    border-radius: 20px;
  }
}

.dark {
  background-color: #242424;
  border: 1px solid #454545;
  border-radius: 20px;

  &:hover {
    background-color: var(--main-green-color);
    transition: all 0.2s ease;
  }
}

.skew {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

.green {
  border-color: var(--main-green-color);
  box-shadow: 0 20px 40px rgba(63, 156, 20, 0.3);

  &:hover {
    background: rgba(63, 156, 20, 0.5);
    border: 1px solid #3f9c14;
    transition: all 0.2s linear;
  }
}
