@import '@/assets/scss/styles';

.logo {
  cursor: pointer;
  position: relative;
  width: 105px;
  height: 45px;

  &Title {
    color: #faf9f7;
    font-size: 18px;
    font-weight: 800;
    left: 13px;
    letter-spacing: 0.03em;
    margin: 0;
    top: 15px;

    line-height: 100%;
    position: absolute;
  }

  &Text {
    color: $second-text-color;
    font-size: 14px;
    font-weight: 300;
    left: -13px;
    text-align: center;
    top: 37px;
    width: 150px;

    line-height: 100%;
    position: absolute;
  }
}
