@import '@/assets/scss/styles';

.link {
  color: $second-text-color;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 143%;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  &::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: $main-green-color;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: width 0.3s ease-in-out;
  }
}

.hover {
  &:hover {
    color: $main-green-color !important;
    transition: color 0.3s ease-in-out;

    &::after {
      width: 100%;
    }
  }
}
